/* Pad styling */
.pad {
  height: 33.333%;
  background-color: black;
  text-align: center;
  font-size: 23vh;
  color: blue;
}

div.selectable:hover {
  background-color: #2D2D2D;
  cursor: pointer;
}

/* General page styling */
html body {
  padding-top: 0;
  padding-bottom: 0;
}

html, body {
  height: 100%;
}

#wrapper {
  height: 100%;
  background-color: black;
}

div#page-content-wrapper {
  height: 100%;
  padding: 0;
}

button#menu-toggle {
  position: absolute;
  z-index: 10;
  background-color: #2D2D2D;
  border: none;
  border-radius: 0;
}

button#menu-toggle:focus {
  outline: none;
}

span#menu-arrow {
  font-size: 1.5em;
  color: blue;
}

div#sidebar-wrapper {
  background-color: #2D2D2D;
}

li {
  font-size: 2em;
  margin: 3% 0;
}

/* modal styling */
div.modal-content {
  background-color: #2D2D2D;
  border-radius: 0;
  border-color: black;
}

button.close {
  color: blue;
  opacity: 1;
  text-shadow: none;
}

h4.modal-title {
  color: blue;
  font-size: 2em;
}

div.modal-header {
  background-color: #2C2C2C;
  border-bottom: none;
}

div.modal-footer {
  background-color: #2C2C2C;
  border-top: none;
}

div.modal-body {
  padding: 0;
  border-radius: 0;
  height: 60vh;
  overflow: scroll;
}

button#confirm-sample {
  border-radius: 0;
  background-color: black;
  color: green;
  border-style: none;
}

.modal-ul {
  list-style-type: none;
  cursor: pointer;
  margin-left: 0;
  padding-left: 0;
}

li.sample-list:hover {
  background-color: grey;
}

.sample-list.active {
  background-color: black;
}

.sample-list p {
  padding-left: 20px;
}